In [1]:
print("Hello World")

Hello World

In [2]:
x = lambda x : x if x > 0 else 10
#x(20)
square = lambda x : x**2
square(5)

25

In [3]:
list_0 = [x for x in range(1, 10)]
filterList_1 = list(filter(lambda x : x %2 == 0, list_0))
mapList_1 = list(map(lambda x : x if x%2==0 else None, list_0))
print(filterList_1,"\n", mapList_1)

[2, 4, 6, 8]
 [None, 2, None, 4, None, 6, None, 8, None]

In [4]:
block = [[0,2], [3,2], [10,1]]
list_2 = list(filter(lambda x : x[0] + x[1] < 10, block))
list_2

[[0, 2], [3, 2]]

In [5]:
list_3 = [x for x in range(10)]
new_list = list(map(lambda x : x**2 + x, list_3))
new_list

[0, 2, 6, 12, 20, 30, 42, 56, 72, 90]

In [6]:
myList = [[1, 2, 3],
         [3, 4, 5],
         [6, 7, 8]]
newList = list(map(lambda x : x[1], myList))
newList

[2, 4, 7]

In [7]:
sumList  = list(map(lambda x : sum(x), myList))
sumList

[6, 12, 21]

In [8]:
transaction = [[101, 1000, 2],
              [102, 1500, 4],
              [103, 1750, 1],
              [104, 1650, 5]]

newList = list(map(lambda x : x[1]*x[2], transaction))
newList

[2000, 6000, 1750, 8250]

In [9]:
import os
os.chdir("C:\\Users\ASUS\Documents\Python")

In [10]:
import pandas as pd
db = pd.read_excel("Sample - Superstore.xls")

In [11]:
db = db[db["Profit"].apply(lambda x : x < 0)].reset_index(inplace=False).drop(columns="index")

In [12]:
db.sort_values(by="Profit").head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1398,7773,CA-2016-108196,2016-11-25,2016-12-02,Standard Class,CS-12505,Cindy Stewart,Consumer,United States,Lancaster,...,43130,East,TEC-MA-10000418,Technology,Machines,Cubify CubeX 3D Printer Double Head Print,4499.985,5,0.7,-6599.9780
146,684,US-2017-168116,2017-11-04,2017-11-04,Same Day,GT-14635,Grant Thornton,Corporate,United States,Burlington,...,27217,South,TEC-MA-10004125,Technology,Machines,Cubify CubeX 3D Printer Triple Head Print,7999.980,4,0.5,-3839.9904
1834,9775,CA-2014-169019,2014-07-26,2014-07-30,Standard Class,LF-17185,Luke Foster,Consumer,United States,San Antonio,...,78207,Central,OFF-BI-10004995,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,2177.584,8,0.8,-3701.8928

In [13]:
nonProfit = {}
for _,j in db.iterrows():
    key = j["Order ID"]
    if key not in nonProfit.keys():
        nonProfit[key] = round(j["Profit"], 3)
    else :
        nonProfit[key] += round(j["Profit"], 3)

In [14]:
sumCA = sum(list(map(lambda x: x[1] if x[0][:2] == "CA" else 0, nonProfit.items())))
print(sumCA)

-109857.84100000003

In [15]:
sumUS = sum(list(map(lambda x: x[1] if x[0][:2] == "US" else 0, nonProfit.items())))
print(sumUS)

-46273.46899999999