In [ ]:
import pymysql as pm

## Open Connection

In [91]:
db = pm.connect(host="localhost", port=3306, user="root", passwd="budi", database="db_budi")

## Cursor

In [92]:
cursor = db.cursor()

## Addding data

In [ ]:
sql = "INSERT INTO mhs VALUES ('K3519076', 'Steven Budi Sanjaya', 'Semarang', '2000-04-16')"
try:
    cursor.execute(sql)
    db.commit()
    print("Success")
except:
    print("Error in adding data")
    db.rollback()

## Delete Data

In [ ]:
nim = "K3519076"
sql = "DELETE FROM mhs WHERE nim = %s"
try :
    cursor.execute(sql ,nim)
    db.commit()
    print("Success")

except :
    print("Error in deleting data")
    db.rollback()

## Update Data

In [ ]:
nama = "%Thrawn%"
nim = "K3519080"
value = (nim,nama)
sql = "UPDATE mhs SET alamat ='Aldeeran' WHERE nim = %s AND nama LIKE %s"

try:
    cursor.execute(sql,value)
    db.commit()
    print("Success")
except:
    print("Error in updating data")
    db.rollback()

## Fetch single data

In [93]:
nim = "K3519076"
sql = "SELECT * FROM mhs WHERE nim = %s"

try:
    cursor.execute(sql,nim)
    data = cursor.fetchone()
    print("NIM              : ", data[0])
    print("NAMA             : ", data[1])
    print("Alamat           : ", data[2])
    print("Tanggal Lahir    : ", data[3])
    db.commit()
except:
    print("Error in fetching data")
    db.rollback()

NIM              :  K3519076
NAMA             :  Steven Budi Sanjaya
Alamat           :  Semarang
Tanggal Lahir    :  2000-04-16

## Fetch all data

In [101]:
sql = "SELECT * FROM mhs ORDER BY nim DESC"

try :
    cursor.execute(sql)
    data = cursor.fetchall()
    for val in data:
        print(val[0].ljust(5), val[1].ljust(30), val[2].ljust(15), val[3].strftime("%d-%m-%Y").ljust(10))
    print("-"*70)
    print("Jumlah Mahasiswa : ", cursor.rowcount)
    db.commit()
except :
    print("Error in fetching datas")
    db.rollback()

K3519080 Admiral Thrawn                 Aldeeran        18-09-1200
K3519078 Jono Joni Jontor               Semarang        20-05-2000
K3519076 Steven Budi Sanjaya            Semarang        16-04-2000
K3519071 Rosa                           London          12-10-1897
K3519021 Robin                          Bogor           30-09-2003
K3519012 Joni                           Bandung         17-03-2004
----------------------------------------------------------------------
Jumlah Mahasiswa :  6

## Adding Multiple Data

In [ ]:
data = [("K3519071", "Rosa", "London", "1897-10-12"),
        ("K3519021", "Robin", "Bogor", "2003-09-30"),
        ("K3519012", "Joni", "Bandung", "2004-03-17")]
sql = "INSERT INTO mhs VALUES (%s, %s, %s, %s)" 

try:
    for i in data:
        cursor.execute(sql,i)
        db.commit()
    print("Success")
except:
    print("Error in adding datas")
    db.rollback()

## Close Connection

In [102]:
db.close()